html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#player {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background-color: #000 !important;
}

.art-selector-list {
    margin-bottom: 1.5vh !important;
}

.art-selector-item.art-current {
    color: #00ffff !important;
}

div.art-subtitle {
    bottom: 5vh !important;
}

.art-subtitle-line {
    padding: 0 2vmin;
    border-radius: 1vmin !important;
}

@media screen and (min-width: 1366px) and (min-height: 768px) and (orientation: landscape) {
    .art-controls {
        margin: 0 8vh 3.3vh 8vh !important;
        height: 6vh !important;
    }

    .art-progress {
        margin: 0 8.5vh 0 8.5vh !important;
    }

    div.art-settings {
        margin-bottom: 6vh !important;
    }
    .art-control.art-control-control8 {
        display: none !important;
    }
}